@media screen and (max-width: 850px) {
  .technologies-section .form-container .form_field {
    font-size: 1.2rem;
  }
  .technologies-section .form_field:placeholder-shown ~ .form_label {
    font-size: 1rem;
  }
  .technologies-section .form_field ~ .form_label {
    font-size: 1rem;
  }
  .technologies-section .form-label {
    font-size: 1rem;
  }
  .technologies-section .common-container {
    padding: 1rem;
    margin: 2rem;
  }
}

@media screen and (max-width: 625px) {
  .technologies-section .form-container .form_field {
    font-size: 1.1rem;
  }
  .technologies-section .form_field:placeholder-shown ~ .form_label {
    font-size: 0.9rem;
  }
  .technologies-section .form_field ~ .form_label {
    font-size: 0.9rem;
  }
  .technologies-section .form-label {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .technologies-section .form-container .form_field {
    font-size: 1.2rem;
  }
  .technologies-section .form_field:placeholder-shown ~ .form_label {
    font-size: 1rem;
  }
  .technologies-section .form_field ~ .form_label {
    font-size: 1rem;
  }
  .technologies-section .form-label {
    font-size: 1rem;
  }
  .technologies-section .form-container textarea {
    font-size: 1.15rem;
    width: 75%;
    max-width: 75%;
  }
}

@media screen and (max-width: 410px) {
  .technologies-section .form-container .form_field {
    font-size: 1.1rem;
  }
  .technologies-section .form_field:placeholder-shown ~ .form_label {
    font-size: 0.9rem;
  }
  .technologies-section .form_field ~ .form_label {
    font-size: 0.9rem;
  }
  .technologies-section .form-label {
    font-size: 0.9rem;
  }
  .technologies-section .form-container textarea {
    font-size: 1rem;
    width: 70%;
    max-width: 70%;
  }
}

@media screen and (max-width: 380px) {
  .technologies-section .form-container .form_field {
    font-size: 1rem;
  }
  .technologies-section .form_field:placeholder-shown ~ .form_label {
    font-size: 0.8rem;
  }
  .technologies-section .form_field ~ .form_label {
    font-size: 0.8rem;
  }
  .technologies-section .form-label {
    font-size: 0.8rem;
  }
}
