.common-section.education-section {
  margin-top: 0;
}

@media screen and (max-width: 436px) {
  .education-section .form-container .form_field {
    font-size: 1.2rem;
  }
  .education-section .form_field:placeholder-shown ~ .form_label {
    font-size: 1rem;
  }
  .education-section .form_field ~ .form_label {
    font-size: 1rem;
  }
  .education-section .form-label {
    font-size: 1rem;
  }
  .education-section .common-container {
    padding: 1rem;
    margin: 2rem;
  }
}

@media screen and (max-width: 380px) {
  .education-section .form-container .form_field {
    font-size: 1.1rem;
  }
  .education-section .form_field:placeholder-shown ~ .form_label {
    font-size: 0.9rem;
  }
  .education-section .form_field ~ .form_label {
    font-size: 0.9rem;
  }
  .education-section .form-label {
    font-size: 0.9rem;
  }
}
